.box1{
    background-color: aqua;
    height: 400px;
    width: 400px;
    position: relative;
   
}
.box2{
    background-color: black;
    height: 200px;
    width: 200px;
   
   

}
.box3{
    background-color: chartreuse;
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;

}
.box4{
    background-color: crimson;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50px;
    top: 50px;

}
.box5{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50px;
    top: 50px;
    background-color: darkgrey;

}